<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta application content="text/html; charset=UTF-8" http-equiv="Content-Type"
    /x-www-form-urlencoded/>
    <meta content="webscraper" name="Rich">
    <meta content="Event details" name="description">
    <title>Events</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- For ICON buttons    -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


<div class="jumbotron text-center">
    <h1 th:text="'Events'">Events</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <form action="http://localhost:8080/sites/index">
                <button class="btn" onclick=><i class="fa fa-home"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="container-flud">
    <!--/*@thymesVar id="site" type="com.dallman.webscraper.events.Event"*/-->
    <form action="#" class="form-horizontal" method="POST" th:action="@{/events/updateevent}" th:object="${event}">
        <table class="table table-striped">
            <div class="row">
                <thead>
                <tr>
                    <th>Event date & time</th>
                    <th>Event name</th> <!-- Make this a link to take me to the event location for address etc.. -->
                    <th>Event type</th>
                    <th>Event location</th>
                    <th>Event details</th>
                </tr>
                </thead>
            </div>
            <div class="row">
                <tbody>
                <div class="form-group row">
                    <td>
                        <input class="form-control form-control-lg" id="eventDateTime"
                               name="eventDateTime"
                               readonly="true"
                               th:field="*{eventDateTime}"
                               th:value="${event.getEventDateTime}"
                               type="text"/>
                    </td>
                    <td>
                        <input class="form-control form-control-lg" id="eventName"
                               name="eventDateTime"
                               readonly="true"
                               th:field="*{eventName}"
                               th:value="${event.getEventName}"
                               type="text"/>
                    </td>
                    <td>
                        <input class="form-control form-control-lg" id="eventType"
                               name="eventDateTime"
                               readonly="true"
                               th:field="*{eventType}"
                               th:value="${event.getEventType}"
                               type="text"/>
                    </td>
                    <td>
                        <input class="form-control form-control-lg" id="eventLocation"
                               name="eventDateTime"
                               readonly="true"
                               th:field="*{locationId}"
                               th:value="${event.getLocationEntity}"
                               type="text"/>
                    </td>
                    <td>
                        <input class="form-control form-control-lg" id="eventDetails"
                               name="eventDateTime"
                               readonly="true"
                               th:field="*{eventDetails}"
                               th:value="${event.getEventDetails}"
                               type="text"/>
                    </td>
                </div>
                </tbody>
            </div>
        </table>
    </form>
</div>

</body>
</html>