<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site details</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- For ICON buttons    -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="site" type="com.dallman.webscraper.sites.Site"*/-->
<div class="page-header">
    <div class="jumbotron text-center">
        <h1 th:text="'Site details'">Site details</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
            <form action="http://localhost:8080/sites/index">
                <button class="btn btn-block" onclick=><i class="fa fa-home"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <form action="#" class="form-horizontal" method="POST" th:action="@{/sites/updatesite}" th:object="${site}">
        <table class="table table-striped table-dark table-bordered table-hover">
            <div class="row">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Date added</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </div>
            <div class="row">
                <tbody>
                <tr>
                    <!-- <td th:text="${site?.getId()}"></td>-->
                    <td>
                        <div class="form-group row">
                            <label class="col-md-4 control-label" for="websiteId"></label>
                            <div class="col-md-4">
                                <input class="form-control form-control-lg" disabled
                                       id="websiteId"
                                       name="websiteId"
                                       th:field="*{id}"
                                       th:value="${site.getId()}"
                                       type="text">
                            </div>
                        </div>
                    </td>

                    <!-- <td th:text="${site?.getWebsiteName()}">-->
                    <!-- Text input-->
                    <td>
                        <div class="form-group row">
                            <label class="col-md-4 control-label" for="websiteNameInput"></label>
                            <div class="col-md-10">
                                <input class="form-control form-control-lg" id="websiteNameInput"
                                       name="websiteNameInput"
                                       placeholder="www.abcxyz.com" required="true" th:field="*{websiteName}"
                                       th:value="${site.websiteName}"
                                       type="text">
                            </div>
                        </div>
                    </td>

                    <!-- <td th:text="${site?.getWebUrl()}">-->
                    <!-- Text input-->
                    <td>
                        <div class="form-group row">
                            <label class="col-md-4 control-label" for="websiteUrlInput"></label>
                            <div class="col-md-10">
                                <input class="form-control form-control-lg" id="websiteUrlInput"
                                       name="websiteUrlInput"
                                       placeholder="www.abcxyz.com" required="true" th:field="*{webUrl}"
                                       th:value="${site.getWebUrl()}"
                                       type="text">
                            </div>
                        </div>
                    </td>

                    <!--  <td th:text="${site?.getDateAdded()}">-->
                    <!-- Text input-->
                    <td>
                        <div class="form-group row">
                            <label class="col-md-4 control-label" for="websiteDateAdded"></label>
                            <div class="col-md-10">
                                <input class="form-control form-control-lg" id="websiteDateAdded"
                                       name="websiteDateAdded"
                                       placeholder="dd/mm/YYYY hh:mm" required="true" th:field="*{dateAdded}"
                                       th:value="${site.getDateAdded()}"
                                       type="text">
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <button class="btn btn-info btn-lg" href="sitedetails.html"
                                        name="saveSiteButton"
                                        type="button">Save
                                </button>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <button class="btn btn-info btn-lg" href="sitedetails.html"
                                        name="parseSiteButton"
                                        type="button">Parse
                                </button>
                            </div>
                        </div>
                    </td>
            </div>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>